@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: #505962; 
}

/*--- Navigation --*/

.navbar {
    text-transform: uppercase; 
    font-weight: 700; 
    font-size: .9rem; 
    letter-spacing: .1rem; 
    background-color: white;
}

.navbar-brand img{
    height: 2rem; 
}

.navbar-nav li {
    padding: .7rem; 
}

.navbar-nav .nav-link {
    color: green; 
    padding-top: .8rem; 
}
.nav-link::after {
    content: '';
    height: 2px; 
    width: 0%; 
    background-color: green;
    display: block; 
    transition: .3s ease-in-out; 
}

 .nav-link:hover::after {
    content: '';
    height: 2px; 
    width: 100%; 
    background-color: green;
    display: block; 
}

/*--- Home/Landing Page --*/

.home-inner img {
    width: 100%; 
    height: auto;  
}
    
